@font-face {
  font-family: "souvenir_gothic_becker_ant_Rg";
  src: url("souvenir-gothic-becker-ant-demi-webfont.woff2") format("woff2"),
    url("souvenir-gothic-becker-ant-demi-webfont.woff") format("woff"),
    url("souvenir-gothic-becker-ant-demi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "souvenir_gothic_becker_ant_Rg";
  color: #495f74;
}

header {
  background-color: #ef6c3c;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1em;
}

.logomarca {
  position: fixed;
  left: 50px;
  top: 50px;
  z-index: 10;
  width: 150px;
}

.clube-assinantes {
  position: absolute;
  z-index: 10;
  left: calc(50vw - 100px);
  width: 200px;
}

.whatsapp {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 10;
  width: 60px;
}

#header-links {
  display: flex;
  justify-content: flex-end;
}

.delimitador-link-header {
  margin: 50px 20px;
}

.links-sociais {
  width: 25px;
}

.delimitador-link-header .ultimo-link-social {
  margin-right: 50px;
}

.container-mar {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.container-luz-solar {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 3;
}

.img-luz-solar {
  width: 100%;
  position: relative;
  bottom: 6vw;
  left: 0;
  right: 0;
  z-index: 3;
}

.container-sol {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 4;
}

.img-sol {
  width: 34vw;
  position: relative;
  bottom: -5vw;
  left: 0;
  right: 0;
  margin: 0 33vw;
  z-index: 4;
}

.container-passaro {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 4;
}

.img-passaro {
  animation-duration: 3s;
  animation-iteration-count: infinite;

  width: 12vw;
  position: relative;
  z-index: 4;
  margin: 20vh 0 0 44vw;
}

.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: ease;
}

@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.img-mar {
  width: 100%;
  position: relative;
  bottom: -9vw;
  z-index: 5;
}

.central {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collun {
  flex-direction: column;
}

.bg-f5 {
  background-color: #f5f5f5;
}

.bg-fc {
  background-color: #fcfcfc;
}

.terco {
  height: 30vh;
}

.meio {
  height: 50vh;
}

.meio.min-meio {
  min-height: 50vh;
  padding: 3vh 0;
}

.vh70 {
  height: 70vh;
  min-height: 650px;
}

.vh10 {
  height: 10vh;
}

.container-img-section,
.container-txt-section {
  width: 350px;
  height: auto;
}

.container-txt-section {
  width: 450px;
}

.container-img-section,
.container-txt-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 0 60px;
}

.just-start {
  justify-content: flex-start;
}

.al-esquerda {
  align-items: flex-start;
}

.al-direta {
  align-items: flex-end;
}

.img-section {
  width: 100%;
}

#mar-casa {
  display: flex;
  position: relative;
}

.stiker {
  position: absolute;
  right: 10vw;
  top: -205px;
  z-index: 5;
  transform: rotate(20deg);
  width: 250px;
}

.mar-header {
  width: 50vw;
  text-align: end;
  text-transform: uppercase;
  font-size: 2.5em;
  margin-right: 40px;
}

.mar-text {
  width: 50vw;
  margin-left: 40px;
}

.mar-maior {
  font-size: 1.35em;
}

.mar-text > .mar-paragrafo {
  width: 70%;
  text-align: justify;
  line-height: 2em;
  letter-spacing: 2px;
  font-size: 1.1em;
}

.legenda {
  width: 100%;
  height: 100px;
  background-color: #495f74;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.botao-receba {
  background-color: #495f74;
  color: #fff;
  cursor: pointer;
  width: 170px;
  height: 70px;
  text-align: center;
  letter-spacing: 2px;
  border: none;
}

.divisao-premio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.img-premio {
  width: 15vw;
  margin: 0.5vh;
}

.mr40 {
  margin-right: 40px;
}

.h-end {
  text-align: end;
  margin-top: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: end;
  padding: 5vh 0;
}

.footer > h5 {
  margin-right: 50px;
}
